.error {
    color: red;
    border-style: solid;
    border-color: red;
    padding: 10px;
    max-width: fit-content;
    border-width: 1px;
    border-radius: 15px;
}

.msg {
    color: green;
    border-style: solid;
    border-color: green;
    padding: 10px;
    max-width: fit-content;
    border-width: 1px;
    border-radius: 15px;
}

.deleteButton {
    color: red;
    margin-left: 10px;
}

.likeButton {
    background-color: lightskyblue;
    border-radius: 3px;
    border-color: lightskyblue;
}

.formTextBox {
    margin-bottom: 4px;
}

.signUpAndLogInButton {
    margin-bottom: 4px;
    margin-top: 4px;
}